DATABASE_URL="your-pooled-neon-connection-string"
DIRECT_URL="your-direct-neon-connection-string"

BETTER_AUTH_SECRET="replace-with-a-secure-secret-at-least-32-characters"
BETTER_AUTH_URL="http://localhost:3000"